POLARROUTE_MESH_DIR=/home/user/polarroute/meshes/
POLARROUTE_DEBUG=False
POLARROUTE_SECRET_KEY="django-insecure-wffjkjwefhbfkrhelberbvbrelbv"
DJANGO_SETTINGS_MODULE=polarrouteserver.settings.production
POLARROUTE_ALLOWED_HOSTS=example.com,0.0.0.0
POLARROUTE_STATIC_ROOT=/var/www/example.com/static