site_name: PolarRoute-Server
repo_url: https://github.com/bas-amop/polarroute-server/
edit_uri: edit/main/docs/
theme: 
  name: material
  logo: https://cdn.web.bas.ac.uk/bas-style-kit/0.7.3/img/logos-symbols/bas-roundel-inverse-transparent-64.png
  favicon: https://cdn.web.bas.ac.uk/bas-style-kit/0.7.3/img/favicon/favicon-16x16.png
  icon:
    repo: fontawesome/brands/github
  features:
    # Enables copying of code blocks
    - content.code.copy
    # Enables "edit this page" to contribute to docs
    - content.action.edit
  palette:
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

plugins: 
  - search
  - mkdocstrings:
      handlers:
        python:
          paths:
            - polarrouteserver
          options:
            docstring_style: google
            # show_object_full_path: true
            merge_init_into_class: true
            show_docstring_functions: true
            show_docstring_classes: true
            show_source: false
  - mkdocs-autoapi:
      autoapi_ignore:
        - "manage.py"
        - "polarrouteserver/settings/*"
        - "polarrouteserver/route_api/apps.py"
        - "polarrouteserver/route_api/management/*"
        - "polarrouteserver/route_api/management/commands/*"
        - "polarrouteserver/route_api/migrations/*"
        - "polarrouteserver/route_api/admin.py"
        - "polarrouteserver/asgi.py"
        - "polarrouteserver/celery.py"
        - "polarrouteserver/urls.py"
        - "polarrouteserver/wsgi.py"
        - "polarrouteserver/_version.py"
        - "tests/*"
      # autoapi_file_patterns:
      #   - "*.py"
      autoapi_add_nav_entry: Python Package API Reference
  - include-markdown:
      rewrite_relative_urls: true
  - render_swagger

nav:
  - Home: index.md
  - vehicle-management.md
  - requesting-routes.md
  - how-polarroute-server-works.md
  - deployment.md
  - configuration.md
  - development.md
  - changelog.md
  - API Reference: api.md

markdown_extensions:
  - toc:
      permalink: True
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji # (1)!
      emoji_generator: !!python/name:material.extensions.emoji.to_svg


copyright: Copyright &copy; 2026 British Antarctic Survey