<!DOCTYPE html>
<html>
    <head>
        <title>PolarRoute</title>
        <link rel="stylesheet" href="https://cdn.web.bas.ac.uk/bas-style-kit/0.7.3/css/bas-style-kit.min.css" integrity="sha256-IQbFVuPltp9fndG5bH9NPKd7KTOYJ4fPqXIc0/pnbLs=" crossorigin="anonymous">
        <link rel="apple-touch-icon" sizes="180x180" href="https://cdn.web.bas.ac.uk/bas-style-kit/0.7.3/img/favicon/apple-touch-icon.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="https://cdn.web.bas.ac.uk/bas-style-kit/0.7.3/img/favicon/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="https://cdn.web.bas.ac.uk/bas-style-kit/0.7.3/img/favicon/favicon-16x16.png" />
        <link rel='manifest' href="https://cdn.web.bas.ac.uk/bas-style-kit/0.7.3/img/favicon/site.webmanifest" />
        <link rel="mask-icon" href="https://cdn.web.bas.ac.uk/bas-style-kit/0.7.3/img/favicon/safari-pinned-tab.svg" color="#222222" />
        <link rel="shortcut icon" href="https://cdn.web.bas.ac.uk/bas-style-kit/0.7.3/img/favicon/favicon.ico" />
        <meta name="msapplication-TileColor" content="#222222">
        <meta name="msapplication-config" content="https://cdn.web.bas.ac.uk/bas-style-kit/0.7.3/img/favicon/browserconfig.xml">
        <meta name="theme-color" content="#222222">
        {% load static %}
        {% load plotly_dash%}
        {% plotly_header %}
    </head>
    <body>
        



        <!-- <div class="bsk-fix-alert-static-top-fixed-container-wrapper">
        <div class="bsk-container-fluid">
            <div id="alert-message" class="bsk-alert bsk-alert-static-top bsk-alert-dismissible bsk-alert-solid bsk-alert-cookie-notice" role="alert" data-bsk-role="cookie-notice-example">
            <button type="button" class="bsk-close" data-bs-dismiss="alert" data-bs-target="#alert-message" aria-label="Close">&times;</button>
            This website uses cookies to help us make it better - <a href="#" class="bsk-alert-link">find out more</a>.
            </div>
        </div>
        </div> -->

        <nav class="bsk-navbar bsk-navbar-expand-lg bsk-navbar-dark bsk-bg-dark">
        <div class="bsk-container-fluid">
            <!-- Site name and toggle get grouped for better mobile display -->
            <img src="https://cdn.web.bas.ac.uk/bas-style-kit/0.7.3/img/logos-symbols/bas-roundel-inverse-transparent-32.png" alt="British Antarctic Survey"/>
            <a class="bsk-navbar-brand" href="#">PolarRoute</a>
            <button type="button" class="bsk-navbar-toggler bsk-ms-auto" data-bs-toggle="collapse" data-bs-target="#bsk-example-navbar-collapse-1" aria-label="Toggle navigation">
            <span class="bsk-navbar-toggler-icon"></span>
            </button>
            <!-- Collect navigation links, forms, and other items for hiding at smaller screen sizes -->
            <div id="bsk-example-navbar-collapse-1" class="bsk-collapse bsk-navbar-collapse">
            <ul class="bsk-nav bsk-navbar-nav">
                <li class="bsk-dropdown-item"><a href="#" class="bsk-dropdown-item"><i>RRS Sir David Attenborough</i><span class="bsk-visually-hidden">(current)</span></a></li>
                <!-- <li class="bsk-active"><a href="#" class="bsk-dropdown-item">Home <span class="bsk-visually-hidden">(current)</span></a></li> -->
                <!-- <li class="bsk-dropdown"> -->
                    <!-- <a href="#" class="bsk-dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                Dropdown <span class="bsk-caret"></span></a>
                <ul class="bsk-dropdown-menu bsk-shadow">
                    <li><a href="#" class="bsk-dropdown-item">Action</a></li>
                    <li><a href="#" class="bsk-dropdown-item">Another action</a></li>
                    <li><a href="#" class="bsk-dropdown-item">Something else here</a></li>
                    <li role="separator" class="bsk-divider"></li>
                    <li><a href="#" class="bsk-dropdown-item">Separated link</a></li>
                    <li role="separator" class="bsk-divider"></li>
                    <li><a href="#" class="bsk-dropdown-item">One more separated link</a></li>
                </ul> -->
            <!-- </li> -->
        </ul>
        <ul class="bsk-nav bsk-navbar-nav bsk-ms-auto">
                <li><a href="/admin" target="_blank" class="bsk-dropdown-item">Admin</a></li>
                <li class="bsk-dropdown">
                <a href="#" class="bsk-dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                Part of British Antarctic Survey <span class="bsk-caret"></span></a>
                <ul class="bsk-dropdown-menu bsk-shadow bsk-dropdown-menu-lg-end">
                    <li><a href="https://www.bas.ac.uk" class="bsk-dropdown-item">BAS Home</a></li>
                    <li><a href="https://data.bas.ac.uk" class="bsk-dropdown-item">Discover BAS data</a></li>
                    <li><a href="https://www.bas.ac.uk/project/autonomous-marine-operations-planning/" class="bsk-dropdown-item">Autonomous Marine Operations Planning</a></li>
                </ul>
                </li>
            </ul>
            </div>
        </div>
        </nav>

        <div class="site-development-notice">
        <div class="bsk-container-fluid">
            <span class="bsk-label bsk-label-phase-alpha">Alpha</span> This is a new website – your <a href='#'>feedback</a>
            will help us to improve it.
            <hr />
        </div>
        </div>




        <!-- <iframe src="http://localhost:8050" width="100%" height=1200> -->
        <script src="{% static 'mapFunctions.js' %}"></script>

        {%plotly_direct name="PolarRoute"%}




        <footer class="bsk-footer bsk-footer-default">
        <div class="bsk-container-fluid">
            <div class="bsk-footer-back-to-top bsk-float-end">
            <a href="#site-top">Back to top</a>
            </div>
            <div class="div bsk-clearfix"></div>
            <div role="separator" class="bsk-footer-spacer"></div>
            <!-- main content -->
            <div role="separator" class="bsk-footer-divider"></div>
            <!-- Copyright & legal -->
            <div class="bsk-footer-governance bsk-float-start">
            The <a href="https://www.bas.ac.uk">British Antarctic Survey</a> (BAS) is part of <a href="https://www.ukri.org">UK Research and Innovation</a> (UKRI)
            <div class="bsk-footer-ogl"><div class="bsk-ogl-symbol"><a href="http://www.nationalarchives.gov.uk/doc/open-government-licence" rel="license"><span class="bsk-ogl-symbol">Open Government Licence</span></a></div>
            All content is available under the <a href="http://www.nationalarchives.gov.uk/doc/open-government-licence" rel="license">Open Government Licence v3.0</a>, except where otherwise stated</div>
            </div>
            <div class="bsk-footer-policy-links bsk-float-end">
            <ul class="bsk-list-inline">
                <li class="bsk-list-inline-item"><a href="#">Cookies</a></li>
                <li class="bsk-list-inline-item"><a href="#">Copyright</a></li>
                <li class="bsk-list-inline-item"><a href="#">Privacy</a></li>
            </ul>
            © 2025 British Antarctic Survey
            </div>
        </div>
        </footer>









    </body>
    {% plotly_footer %}
</html>